.card__content {
  width: 250px;
  height: 350px;
  position: relative;
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;

  &:hover {
    transform: scale(1.05);
  }

  &__button {
    background-image: url("../../../../assets/imagens/close.svg");
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    right: -5px;
    top: -10px;
    border-radius: 20px;
    border: 1px solid var(--color-grey);
    background-size: 22px 22px;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover{
      background-image: url("../../../../assets/imagens/close-red.svg");
      border: 1px solid #000;
      background-size: 25px 25px;
      transform: rotate(-90deg) scale(1.25);
    }
  }

  &__img {
    height: 40%;
    position: relative;
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 100%;
      width: 100%;
    }
    &__type {
      bottom: 5px;
      right: 5px;
      position: absolute;
      padding: 3px 6px;
      border-radius: 5px;
      font-family: "Urbane Condensed Light";
      font-size: 0.7rem;
      color: #fff;

      &.color-1 {
        background-color: var(--color-type-1);
      }
      &.color-2 {
        background-color: var(--color-type-2);
      }
      &.color-3 {
        background-color: var(--color-type-3);
      }
    }
  }
  &__text {
    background-color: #fff;
    height: 60%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    &__title {
      margin-bottom: 10px;
      font-size: 2rem;
      font-family: "Urbane Condensed Medium";
    }
    &__description {
      font-family: "Urbane Condensed Light";
      display: -webkit-box;
      -webkit-line-clamp: 8;
      overflow: hidden;
      -webkit-box-orient: vertical;
      word-break: break-all;
      line-height: 1.3;
    }
  }
}
