.home-page {
  background-color: var(--color-default-background);
  height: 100vh;

  &__search-form {
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    display: flex;

    &__input {
      width: 45vw;
      height: 40px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid #ccc;
      padding: 0 10px;
      font-family: "Urbane Condensed Light";

      &:focus-visible {
        outline: #40b4ff solid 2px;

        & + .home-page__search-form__button {
          outline: #40b4ff solid 2px;
        }
      }
    }

    &__button {
      border: 1px solid #ccc;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 8px 10px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
        fill: #ccc;
      }
    }
  }
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
