.home-page {
  background-color: var(--color-default-background);
  height: 100vh;

  &__search-form {
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    display: flex;

    &__input {
      width: 45vw;
      height: 40px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid var(--color-grey);
      padding: 0 10px;
      font-family: "Urbane Condensed Light";

      &:focus-visible {
        outline: var(--color-input-outline) solid 2px;

        & + .home-page__search-form__button {
          outline: var(--color-input-outline) solid 2px;
        }
      }
    }

    &__button {
      border: 1px solid var(--color-grey);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 8px 10px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
        fill: var(--color-grey);
      }
    }
  }

  &__card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__error {
    &__text {
      font-family: "Urbane Condensed Light";
      text-align: center;
      padding: 10px;
    }

    &__button {
      font-size: 12px;
      display: flex;
      align-items: center;
      height: 38px;
      color: #ffffff;
      background-color: var(--color-input-outline);
      border-color: var(--color-input-outline);
      border-radius: 5px;
      font-family: "Urbane Condensed Medium";
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

